<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

	<bean id="messageService" class="engine.messageing.MessageServiceImpl" />

	<bean id="inputSystem" class="engine.systems.InputSystem">
		<constructor-arg ref="messageService" />
	</bean>

	<bean id="mainWindow" class="engine.windows.MainWindow">
		<constructor-arg ref="inputSystem" />
		<constructor-arg value="${app.sizeX}" />
		<constructor-arg value="${app.sizeY}" />
	</bean>

	<bean id="testApp" class="test.main.TestApp">
		<constructor-arg ref="messageService" />
		<constructor-arg ref="mainWindow" />
		<property name="version" value="${app.version}" />
	</bean>

</beans> 